* {
  margin: 0;
  border: 0;
  /* border: solid red 1px; */
}

@media only screen and (min-width: 720px) {
  .menudesplegable {
    display: none;
  }

  nav {
    display: flex;
    padding: 10px;
    justify-content: space-between;
  }

  .tittle {
    color: rgba(255, 214, 0, 255);
    font-size: 2.8em;
    margin-left: 30px;
    justify-content: center;
  }

  iframe {
    float: right;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 515px;

    /* background-image: url(../img/hacker-internet.jpg); */
    background-image: url(../img/wallhaven-3krkr6_1280x720.png);
  }

  ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  ul li {
    padding: 15px;
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
    color: #000;
  }

  /* .imagen {

  display: block;
  width: 50%;
  height: 510px;
  margin-left: auto;
  float: left;
} */
}

@media only screen and (min-width: 320px) {
  .menudesplegable:checked ~ .menu {
    background-color: #0b3860f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.6s ease;
    position: absolute;
    width: 100%;
    height: 12em;
    animation-name: nav;
    animation-duration: 0.5s;
  }

  nav {
    display: flex;
    padding: 10px;
    background: #fff;
    justify-content: space-between;
  }

  .tittle {
    color: rgba(255, 214, 0, 255);
    font-size: 2.8em;
    margin-left: 30px;
    justify-content: center;
  }

  iframe {
    float: right;
    display: flex;
    width: 100%;
    justify-content: center;
    height: 515px;
    /* margin-left: 10%;
    margin-top: -512px; */
    /* background-image: url(../img/hacker-internet.jpg); */
    background-image: url(../img/wallhaven-yjdl2k_1280x720.png);
  }

  ul {
    list-style: none;
  }

  ul li {
    padding: 15px;
    display: inline-block;
  }
  ul li a {
    text-decoration: none;
    color: #000;
  }

  /* .imagen {
    display: none;
  } */
}
