* {
  margin: 0;
  border: 0;
  /* border: solid red 1px; */
}
body {
  padding: 20px;
}

@media only screen and (min-width: 1024px) {

    /*Ejercicio 1*/
/*Ejericios*/
.container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}

.tittle {
  display: flex;
  color: #000;
  font-size: 2.8em;
  padding-top: 10px;
}

/*---------------------------------------*/

.inputs {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs [type="text"] {
  justify-content: center;
  width: 280px;
  height: auto;

  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}

.inputs [type="submit"] {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 225, 0);
}

.inputs [type="submit"]:hover {
  background-color: rgb(8, 185, 8);
}

.grados {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: colum;
}

.grados [type="text"] {
  width: 280px;
  height: 30px;
  border-radius: 5px;
}

.grados .valor1 {
  margin-right: 20%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
.consultar {
  margin-left: 33%;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 225, 0);
}

.inputs [type="submit"]:hover {
  background-color: rgb(8, 185, 8);
}


.contenedor .texto {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}

.grados .contenedor .convertir {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}


.grados .contenedor .convertir1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.grados .contenedor div select {
  display: flex;
  height: 30px;
  color: black;
  border-radius: 3px;
  background-color: rgb(214, 193, 76);
  
}

#lados {
  /* padding-left: 50%; */
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

#lados label {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0);
}
#lados [type="text"] {
  width: 200px;
  height: 30px;
  /* margin-left: 42%; */
  border-radius: 5px;
  align-items: center;
}

#lados .consultar {
  display: flex;
  justify-content: center;

}

/*Ejercicio 2*/
.grados [type="text"] {
  width: 280px;
  height: auto;
  margin-left: 25%;
  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}



.contenedor1 {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.contenedor1 .texto {
  
  padding: 10px;
  
  
  justify-content: center;
}

.contenedor1 .texto {
  display: flex;
  justify-content: flex-start;
  color: rgba(0, 0, 0);
}

.contenedor1 div select {
  height: 30px;
  color: rgba(0, 0, 0);
  border-radius: 3px;
  background-color: rgba(0, 225, 0);
}

.contenedor1  .select {
  display: flex;
  justify-content: center;
  width: 40%;
}
}

@media only screen and (min-width: 320px) {

  /*Ejercicio 1*/
/*Ejericios*/
.container {
  display: flex;
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
  width: auto;
}

.tittle {
  display: flex;
  color: #000;
  font-size: 2.4em;
  padding-top: 10px;
}

/*---------------------------------------*/

.inputs {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.inputs [type="text"] {
  justify-content: center;
  width: 280px;
  height: auto;

  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}

.inputs [type="submit"] {
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 225, 0);
}

.inputs [type="submit"]:hover {
  background-color: rgb(8, 185, 8);
}

.grados {
  display: inline-block;
  padding: 10px;
  display: grid;
  flex-direction: column;
}

.grados [type="text"] {
  width: 280px;
  height: 30px;
  border-radius: 5px;
}

.grados .valor1 {
  margin-right: 20%;
  margin-bottom: 5%;
  display: flex;
  justify-content: center;
}
.consultar {
  margin-left: 33%;
  width: 200px;
  height: 40px;
  border-radius: 5px;
  color: rgb(225, 225, 225);
  background-color: rgba(0, 225, 0);
}

.inputs [type="submit"]:hover {
  background-color: rgb(8, 185, 8);
}


.contenedor .texto {
  color: white;
  display: flex;
  justify-content: center;
}

.grados .contenedor .convertir {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}


.grados .contenedor .convertir1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  margin-left: 10%;
}

.grados .contenedor div select {
  height: 30px;
  color: black;
  border-radius: 3px;
  background-color: rgb(214, 193, 76);
  display: flex;
  justify-content: center;


}

#lados {
  padding-left: 50%;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

#lados label {
  display: flex;
  justify-content: center;
  color: rgba(0, 0, 0);
}
#lados [type="text"] {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
}

#lados .consultar {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

/*Ejercicio 2*/
.grados [type="text"] {
  width: 280px;
  height: auto;
  margin-left: 25%;
  padding: 20px;
  border-radius: 5px;
  font-size: 1em;
}



.contenedor1 {
  display:flex;
  flex-direction: column;

  align-items: center;
}

.contenedor1 .texto {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contenedor1 .texto {
  display:flex;
  justify-content: flex-start;
  color: rgba(0, 0, 0);
}

.contenedor1 div select {
  height: 30px;
  color: rgba(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(214, 193, 76);
}

.contenedor1 .select {
  width: 40%;
  display: flex;
  justify-content: center;
}


.contenedor1 .select1 {
  width: 60%;
  display: flex;
  justify-content: center;
}

}