* {
  /* border: solid red 1px; */
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 80px;
}

.tittle {
  display: flex;
  color: #ffffff;
  font-size: 2.8em;
}

.cardT,
.cardR,
.cardCU,
.cardCi {
  width: 180px;
  height: 200.5px;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 5px;
  text-align: center;
  transition: all 0.25s;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.cardT img,
.cardR img,
.cardCU img {
  margin: 10px;
  width: 140px;
  height: 140px;
}

.cardCi img {
  margin: 10px;
  width: 140px;
  height: 140px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 60%;
  margin-left: 20%;
}

.cardT [type="submit"],
.cardR [type="submit"],
.cardCU [type="submit"],
.cardCi [type="submit"] {
  padding: 5px;
  margin: 3px;
  background-color: darkblue;
  border-radius: 3px;
  border: solid black 0.5px;
  color: white;
}
